<script type="text/template" id="graph-legend-template">
  <span class='graph-legend' id='<%%= val %>' style='background-color:<%%= labels.colorArr[i] %>'>
    <h4>
      <%%= name %>
    </h4>
    <h4>
      Age:  <%%= age %>
    </h4>
    <h4>
      <a href='<%%= source %>' target=_blank>Source</a>
    </h4>
    <img class='popup-img' src='<%%= img %>' alt="">
    <p>
      <strong><%%= description %></strong>
    </p>
  </span>
</script>