<script type="text/template" id="popup-template-no-pic">
  <div class='popup-container'>
    <h4>
      <%%= name %>
    </h4>
    <h4>
      Age:  <%%= age %>
    </h4>
    <h4>
      <a href='<%%= source %>' target=_blank>Source</a>
    </h4>
    <p>
      <strong><%%= description %></strong>
    </p>
  </div>
</script>