<script type="text/template" id="shots-race-template">
  <div class='popup-container'>
    <h4>
      <%%= name %>
    </h4>
    <h4>
      Shots Fired:  <%%= shots %>
    </h4>
    <h4>
      Race:  <%%= race %>
    </h4>
    <h4>
      Age:  <%%= age %>
    </h4>
    <h4>
      <a href='<%%= source %>' target=_blank>Source</a>
    </h4>
    <img class='popup-img' src='<%%= img %>' alt="">
    <p>
      <strong><%%= description %></strong>
    </p>
  </div>
</script>