<div id="container">
  <div id="about">
    <div id="back-button" class="nav-button">
      <div class="arrow" id="back-arrow"></div>
    </div>
    <article id="page-container">
      <p>
        As of 2014, there is no official data regarding when, where, and how often United States police officers kill civilians.
      </p>
      <p>
        There is movement to <a href="http://mic.com/articles/106392/congress-just-passed-a-bill-addressing-police-killings-while-no-one-was-looking">reform</a> this, but reliable public records remain a long way away.
      </p>
      <div class="pagenum" id="1">1/20</div>
    </article>
    <div id="forward-button" class="nav-button">
      <div class="arrow" id="forward-arrow"></div>
    </div>
  </div>

	<div id="filters-display-weights">
		<div id="filters-container">
			<button class="chooser button-filter filter-type" id="usPop-filter">Population</button>
			<%= erb :'_fifty_states_dropdown' %>
			<button class="chooser chooser-listview button-filter" id="race-filter">Race</button>
			<form class="filter-checkbox-form" id="race-selection">
        <input type="checkbox" id="select-alaskan" name="alaskan and/or pacific islander" value="alaskan" checked />
        <span class="legend" id="alaskan"></span>
        <span class="legend-text" id="alaskan">Alaskan / </span><br>Pacific Islander<br>
        <input type="checkbox" id="select-asian" name="asian" value="asian" checked />
        <span class="legend" id="asian"></span>
        <span class="legend-text" id="asian">Asian</span><br>
        <input type="checkbox" id="select-black" name="black" value="black" checked />
        <span class="legend" id="black"></span>
        <span class="legend-text" id="black">Black</span><br>
        <input type="checkbox" id="select-hispanic" name="hispanic and/or latin" value="hispanic" checked />
        <span class="legend" id="hispanic"></span>
        <span class="legend-text" id="hispanic">Hispanic / Latin</span><br>
        <input type="checkbox" id="select-white" name="white" value="white" checked />
        <span class="legend" id="white"></span>
        <span class="legend-text" id="white">White</span><br>
        <input class="race-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="age-filter">Age</button>
			<form id="age-range">
        <label for="age-min">Age Min:</label>
        <input type="text" id="age-min" name="age-min" value="0" />
        <label for="age-max">Age Max:</label>
        <input type="text" id="age-max" name="age-max" value="107" />
        <input class="age-range-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="gender-filter">Gender</button>
			<form class="filter-checkbox-form" id="gender-selection">
        <input type="checkbox" id="select-male" name="male" value="male" checked />Male<br>
        <input type="checkbox" id="select-female" name="female" value="female" checked />Female<br>
        <input class="gender-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="unarmed-filter">Unarmed</button>
			<form class="filter-checkbox-form" id="unarmed-selection">
        <input type="checkbox" id="select-unarmed" name="unarmed" value="unarmed" checked />Unarmed<br>
        <input type="checkbox" id="select-armed" name="armed" value="armed" />Armed<br>
        <input class="unarmed-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="illness-filter">Mental Illness</button>
			<form class="filter-checkbox-form" id="illness-selection">
        <input type="checkbox" id="select-ill" name="ill" value="ill" checked />Yes<br>
        <input type="checkbox" id="select-not-ill" name="not-ill" value="not-ill" />No<br>
        <input class="illness-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="shots-filter">Number of Shots</button>
			<form id="shots-range">
        <label for="shots-min">Shots Min:</label>
        <input type="text" id="shots-min" name="shots-min" value="0" />
        <label for="shots-max">Shots Max:</label>
        <input type="text" id="shots-max" name="shots-max" value="150" />
        <input class="shots-range-submit chooser button-filter" type="submit" value="Enter" />
      </form>
		</div>

		<div id="display-and-selectors">
			<div id="display-container">
				<div id='map-one' class='map'></div>
			</div>

			<div id="selectors-container">
				<button class="chooser display-selector display-type" id="heatmaps-selector">Heatmap</button>
    		<button class="chooser display-selector" id="markers-selector">Marker Map</button>
    		<button class="chooser display-selector" id="graphs-selector">Graph</button>
			</div>
		</div>

		<div id="weights-container">
			<span class="button-header" id="weights-header">Weight By:</span>
      <button class="chooser button-weight " id="usPop-weight">Population</button>
      <button class="chooser button-weight " id="arrests-weight">Arrests</button>
      <button class="chooser button-weight " id="poverty-weight">Poverty</button>
      <button class="chooser button-weight " id="race-weight">Race</button>
      <button class="chooser button-weight " id="age-weight">Age</button>
      <button class="chooser button-weight " id="unarmed-weight">Unarmed</button>
      <button class="chooser button-weight " id="illness-weight">Mental Illness</button>
      <button class="chooser button-weight " id="shots-weight">Shots</button>
		</div>
	</div>

	<div id="program">
		<p class="program-text">
			People killed by police officers in the United States.
		</p>
    <p class="program-text">
      <a id="about-link" href="/">About This Project</a>
    </p>
	</div>
</div>
