<div id="container">
	<div id="filters-display-weights">
		<div id="filters-container">
			<button class="chooser button-filter filter-type" id="usPop-filter">Population</button>
			<%= erb :'_fifty_states_dropdown' %>
			<button class="chooser button-filter" id="race-filter">Race</button>
			<button class="chooser button-filter" id="age-filter">Age</button>
			<button class="chooser button-filter" id="unarmed">Armed</button>
		</div>

		<div id="display-and-selectors">
			<div id="display-container">
			</div>

			<div id="selectors-container">
				<button class="chooser display-selector display-type" id="heatmaps-selector">Heatmap</button>
    		<button class="chooser display-selector" id="markers-selector">Marker Map</button>
    		<button class="chooser display-selector" id="graphs-selector">Graph</button>
			</div>
		</div>

		<div id="weights-container">
			<span class="button-header" id="weights-header">Weight By:</span>
      <button class="chooser button-weight " id="usPop-weight">Population</button>
      <button class="chooser button-weight " id="arrests-weight">Arrests</button>
      <button class="chooser button-weight " id="poverty-weight">Poverty</button>
		</div>
	</div>

	<div id="program">
		<p class="program-text">
			People killed by police officers in the United States.
		</p>
	</div>
</div>