<div id="about">

  <div class="main">
    <div id="close-button">x</div>
    <!--       
    <div id="back-button" class="nav-button">
      <div class="arrow" id="back-arrow"></div>
    </div> -->
  </div>

</div>


<!--   <article id="page-container">
    <p class="about-graf" id="graf1">
      As of 2014, there is no official data regarding when, where, and how often United States police officers kill civilians.
    </p>
    <p class="about-graf" id="graf2">
      There is movement to <a href="http://mic.com/articles/106392/congress-just-passed-a-bill-addressing-police-killings-while-no-one-was-looking">reform</a> this, but reliable public records remain a long way away.
    </p>
    <div class="pagenum" id="1">1/20</div>
  </article>
  <div id="forward-button" class="nav-button">
    <div class="arrow" id="forward-arrow"></div>
  </div> -->

<div class="container">

  <div class="row mainpage">

    <div class="two columns" id="filters-container">
      <button class="filter filter-type" id="usPop-filter">Population</button>
      <%= erb :'_fifty_states_dropdown' %>
      <button class="filter" id="race-filter">Race</button>
      <form class="filter-form race-form" id="race-filter-form">
        <input type="checkbox" id="select-alaskan" name="alaskan and/or pacific islander" value="alaskan" checked />
        <span class="legend" id="alaskan"></span>
        <span class="legend-text" id="alaskan">Alaskan / </span><br>Pacific Islander<br>
        <input type="checkbox" id="select-asian" name="asian" value="asian" checked />
        <span class="legend" id="asian"></span>
        <span class="legend-text" id="asian">Asian</span><br>
        <input type="checkbox" id="select-black" name="black" value="black" checked />
        <span class="legend" id="black"></span>
        <span class="legend-text" id="black">Black</span><br>
        <input type="checkbox" id="select-hispanic" name="hispanic and/or latin" value="hispanic" checked />
        <span class="legend" id="hispanic"></span>
        <span class="legend-text" id="hispanic">Hispanic / Latin</span><br>
        <input type="checkbox" id="select-white" name="white" value="white" checked />
        <span class="legend" id="white"></span>
        <span class="legend-text" id="white">White</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="filter" id="age-filter">Age</button>
      <form class="filter-form age-form" id="age-filter-form">
        <label for="age-min">Age Min:</label>
        <input type="text" id="age-min" name="age-min" value="0" /><br>
        <label for="age-max">Age Max:</label>
        <input type="text" id="age-max" class="clear" name="age-max" value="107" />
        <input type="submit" value="Enter" />
      </form>
      <button class="filter" id="gender-filter">Gender</button>
      <form class="filter-form gender-form" id="gender-filter-form">
        <input type="checkbox" id="select-male" name="male" value="male" checked />
        <span class="legend" id="male"></span>
        <span class="legend-text" id="male">Male</span><br>
        <input type="checkbox" id="select-female" name="female" value="female" checked />
        <span class="legend" id="female"></span>
        <span class="legend-text" id="female">Female</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="filter" id="unarmed-filter">Unarmed</button>
      <form class="filter-form unarmed-form" id="unarmed-filter-form">
        <input type="checkbox" id="select-unarmed" name="unarmed" value="unarmed" checked />
        <span class="legend" id="unarmed"></span>
        <span class="legend-text" id="unarmed">Unarmed</span><br>
        <input type="checkbox" id="select-armed" name="armed" value="armed" />
        <span class="legend" id="armed"></span>
        <span class="legend-text" id="armed">Armed</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="filter" id="illness-filter">Mental Illness</button>
      <form class="filter-form illness-form" id="illness-filter-form">
        <input type="checkbox" id="select-ill" name="ill" value="ill" checked />
        <span class="legend" id="ill"></span>
        <span class="legend-text" id="ill">Yes</span><br>
        <input type="checkbox" id="select-not-ill" name="not-ill" value="not-ill" />
        <span class="legend" id="not-ill"></span>
        <span class="legend-text" id="not-ill">No</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="filter" id="shots-filter">Number of Shots</button>
      <form class="filter-form shots-form" id="shots-filter-form">
        <label for="shots-min">Shots Min:</label>
        <input type="text" id="shots-min" name="shots-min" value="20" /><br>
        <label for="shots-max">Shots Max:</label>
        <input type="text" id="shots-max" name="shots-max" />
        <input type="submit" value="Enter" />
      </form>
    </div>

    <div class="twelve columns" id="filters-display-weights">
      <div id="display-container">
      </div>

      <div>
      </div>
      
    </div>

    <div class="two columns">two</div>

  </div>

	<div id="filters-display-weights">

		<div id="display-and-selectors">
			<div id="display-container">
				<div id='map-one' class='map'></div>
			</div>

			<div id="selectors-container">
				<button class="display" id="graph-display">Graph</button>
    		<button class="display" id="map-display">Map</button>
        <button class="display display-type" id="heatmap-display">Heatmap</button>
			</div>
		</div>

		<div id="weights-container">
			<div class="header" id="weight-header">Weight By:</div>
      <button class="weight" id="usPop-weight">Population</button>
      <button class="weight" id="arrests-weight">Arrests</button>
      <button class="weight" id="poverty-weight">Poverty</button>
      <button class="weight" id="race-weight">Race</button>
      <form class="weight-form race-form" id="race-weight-form">
        <input type="checkbox" id="select-alaskan" name="alaskan and/or pacific islander" value="alaskan" checked />
        <span class="legend" id="alaskan"></span>
        <span class="legend-text" id="alaskan">Alaskan / </span><br>Pacific Islander<br>
        <input type="checkbox" id="select-asian" name="asian" value="asian" checked />
        <span class="legend" id="asian"></span>
        <span class="legend-text" id="asian">Asian</span><br>
        <input type="checkbox" id="select-black" name="black" value="black" checked />
        <span class="legend" id="black"></span>
        <span class="legend-text" id="black">Black</span><br>
        <input type="checkbox" id="select-hispanic" name="hispanic and/or latin" value="hispanic" />
        <span class="legend" id="hispanic"></span>
        <span class="legend-text" id="hispanic">Hispanic / Latin</span><br>
        <input type="checkbox" id="select-white" name="white" value="white" />
        <span class="legend" id="white"></span>
        <span class="legend-text" id="white">White</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="weight" id="age-weight">Age</button>
      <form class="weight-form age-form" id="age-weight-form">
        <label for="age-min">Age Min:</label>
        <input type="text" id="age-min" name="age-min" value="0" /><br>
        <label for="age-max">Age Max:</label>
        <input type="text" id="age-max" name="age-max" value="107" />
        <input type="submit" value="Enter" />
      </form>
      <button class="weight" id="unarmed-weight">
        Unarmed</button>
      <form class="weight-form unarmed-form" id="unarmed-weight-form">
        <input type="checkbox" id="select-unarmed" name="unarmed" value="unarmed" checked />
        <span class="legend" id="unarmed"></span>
        <span class="legend-text" id="unarmed">Unarmed</span><br>
        <input type="checkbox" id="select-armed" name="armed" value="armed" />
        <span class="legend" id="armed"></span>
        <span class="legend-text" id="armed">Armed</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="weight" id="illness-weight">Mental Illness</button>
      <form class="weight-form illness-form" id="illness-weight-form">
        <input type="checkbox" id="select-ill" name="ill" value="ill" checked />
        <span class="legend" id="ill"></span>
        <span class="legend-text" id="ill">Yes</span><br>
        <input type="checkbox" id="select-not-ill" name="not-ill" value="not-ill" />
        <span class="legend" id="not-ill"></span>
        <span class="legend-text" id="not-ill">No</span><br>
        <input type="submit" value="Enter" />
      </form>
      <button class="weight" id="shots-weight">Shots</button>
      <form class="weight-form shots-form" id="shots-weight-form">
        <label for="shots-min">Shots Min:</label>
        <input type="text" id="shots-min" name="shots-min" value="20" /><br>
        <label for="shots-max">Shots Max:</label>
        <input type="text" id="shots-max" name="shots-max" />
        <input type="submit" value="Enter" />
      </form>
		</div>
	</div>

	<div id="program">
	</div>
</div>
