<div id="container">
	<div id="filters-display-weights">
		<div id="filters-container">
			<button class="chooser button-filter filter-type" id="usPop-filter">Population</button>
			<%= erb :'_fifty_states_dropdown' %>
			<button class="chooser chooser-listview button-filter" id="race-filter">Race</button>
			<form class="filter-checkbox-form" id="race-selection">
        <input type="checkbox" id="select-alaskan" name="alaskan and/or pacific islander" value="alaskan" checked />Alaskan / <br>Pacific Islander<br>
        <input type="checkbox" id="select-asian" name="asian" value="asian" checked />Asian<br>
        <input type="checkbox" id="select-black" name="black" value="black" checked />Black<br>
        <input type="checkbox" id="select-hispanic" name="hispanic and/or latin" value="hispanic" checked />Hispanic / Latin<br>
        <input type="checkbox" id="select-white" name="white" value="white" checked />White<br>
        <input type="checkbox" id="select-other" name="other" value="other" checked />Other<br>
        <input class="race-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="age-filter">Age</button>
			<form id="age-range">
        <label for="age-min">Age Min:</label>
        <input type="text" id="age-min" name="age-min" value="0" />
        <label for="age-max">Age Max:</label>
        <input type="text" id="age-max" name="age-max" value="107" />
        <input class="age-range-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser chooser-listview button-filter" id="gender-filter">Gender</button>
			<form class="filter-checkbox-form" id="gender-selection">
        <input type="checkbox" id="select-male" name="male" value="male" checked />Male<br>
        <input type="checkbox" id="select-female" name="female" value="female" checked />Female<br>
        <input class="gender-selection-submit chooser button-filter" type="submit" value="Enter" />
      </form>
			<button class="chooser button-filter" id="unarmed">Armed</button>
			<button class="chooser button-filter" id="illness">Mental Illness</button>
			<button class="chooser button-filter" id="shots">Shots Fired</button>
		</div>

		<div id="display-and-selectors">
			<div id="display-container">
				<div id='map-one' class='map'></div>
			</div>

			<div id="selectors-container">
				<button class="chooser display-selector display-type" id="heatmaps-selector">Heatmap</button>
    		<button class="chooser display-selector" id="markers-selector">Marker Map</button>
    		<button class="chooser display-selector" id="graphs-selector">Graph</button>
			</div>
		</div>

		<div id="weights-container">
			<span class="button-header" id="weights-header">Weight By:</span>
      <button class="chooser button-weight " id="usPop-weight">Population</button>
      <button class="chooser button-weight " id="arrests-weight">Arrests</button>
      <button class="chooser button-weight " id="poverty-weight">Poverty</button>
		</div>
	</div>

	<div id="program">
		<p class="program-text">
			People killed by police officers in the United States.
		</p>
	</div>
</div>