<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script language="javascript" src="/javascripts/lib/jit.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src="/javascripts/lib/heatmap.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <%= erb :_popup_template %>
    <%= erb :_shots_template %>

    <title>Police Killings</title>

  </head>
  <body>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/updateView/updateView.js"></script>
    <script src="/javascripts/updateView/filters/filterAge.js"></script>
    <script src="/javascripts/updateView/filters/filterGender.js"></script>
    <script src="/javascripts/updateView/filters/filterIllness.js"></script>
    <script src="/javascripts/updateView/filters/filterRace.js"></script>
    <script src="/javascripts/updateView/filters/filterShots.js"></script>
    <script src="/javascripts/updateView/filters/filterUnarmed.js"></script>
    <script src="/javascripts/updateView/graph/graph.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterAge.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterGender.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterIllness.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterRace.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterShots.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterUnarmed.js"></script>
    <script src="/javascripts/updateView/graph/graphFilterUspop.js"></script>
    <script src="/javascripts/programs.js"></script>
    <script src="/javascripts/about.js"></script>
    <script src="/javascripts/choosers/chooser.js"></script>
    <script src="/javascripts/choosers/chooserListview.js"></script>
    <script src="/javascripts/choosers/filter.js"></script>
    <script src="/javascripts/choosers/displaySelector.js"></script>
    <script src="/javascripts/choosers/weight.js"></script>
    <script src="/javascripts/displays/heatmaps/heatmap.js"></script>
    <script src="/javascripts/displays/heatmaps/styles.js"></script>
    <script src="/javascripts/displays/markermaps/markermap.js"></script>
    <script src="/javascripts/displays/markermaps/styles.js"></script>
    <script src="/javascripts/displays/graphs/graph.js"></script>
    <script src="/javascripts/displays/graphs/data/data.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/population.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/race.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/age.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/gender.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/unarmed.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/illness.js"></script>
    <script src="/javascripts/displays/graphs/data/filtered_by/shots.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/population.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/race.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/age.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/gender.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/unarmed.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/illness.js"></script>
    <script src="/javascripts/displays/graphs/styles/filtered_by/shots.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/population.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/race.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/age.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/gender.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/unarmed.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/illness.js"></script>
    <script src="/javascripts/displays/markermaps/styles/filtered_by/shots.js"></script>
    <script src="/javascripts/displays/mapdata/filterData.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/population.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/race.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/age.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/gender.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/unarmed.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/illness.js"></script>
    <script src="/javascripts/displays/mapdata/filtered_by/shots.js"></script>
    <script src="/javascripts/displays/display.js"></script>

    <%= yield %>
    
  </body>
</html>