body {
  background-color: #c8cdcf;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

button {
  color: #101535;
  font-family: 'Oswald';
}

#container {
  position: relative;
/*  height: 43em;
*/  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#filters-container {
	position: absolute;
  height: 98%;
  width: 15%;
  top: 22%;
  background: red;
}

#display-and-selectors {
  background: green;
  position: relative;
  height: 31em;
  width: 70%;
  left: 15%;
}

#display-container {
  height: 87%;
  width: 100%;
  background: black;
}

#selectors-container {
/*  display: inline;
  position: absolute;
  border: none;
  font-size: 1.3em;
  letter-spacing: 2px;
  border-radius: 6px;
  height: 8%;
  width: 23%;
  top: 65%;
  background-color: rgba(136,123,107,0.4);
  cursor: pointer;
  z-index: 2;*/
}

#weights-container {
	position: absolute;
  height: 98%;
  width: 15%;
  top: 22%;
  right: 0;
  background: red;
}

#program {
	position: fixed;
  height: 17%;
  width: 70%;
  bottom: 0;
  left: 15%;
  background: blue;
}

.program-text {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  color: #101535;
  opacity: 0.8;
  letter-spacing: 1.5px;
  margin: 1.5em;
}

.popup-container {
  background-color: #c8cdcf;
  border-radius: 15px;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

.popup-img {
  max-width: 500px;
  max-height: 300px;
}

.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding:17px;
    border-radius: 5px;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
