body {
  background-color: #c8cdcf;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

#container {
  position: relative;
  height: 43em;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#filters-container {
	position: absolute;
  height: 95%;
  width: 15%;
  top: 10%;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:30px;
    font-size: 1em;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;    background: #f4f4f4;
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
}

.button-header {
/*  display: none;
*/  display: block;
  text-align: center;
  height: 8%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.chooser {
  color: #101535;
  font-family: 'Oswald';
  display: block;
  height: 9%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
  border: none;
  border-radius: 6px;
  background-color: rgba(136,123,107,0.2);
  font-size: 1.2em;
  cursor: pointer;
}

.chooser-listview {
  color: #101535;
  font-family: 'Oswald';
  display: block;
  height: 9%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
  border: none;
  border-radius: 6px;
  background-color: rgba(136,123,107,0.2);
  font-size: 1.2em;
  cursor: pointer;
}

select.button-filter {
  color: #101535;
  font-family: 'Oswald';
  display: block;
  height: 42px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
  border: none;
  border-radius: 6px;
  background-color: rgba(136,123,107,0.2);
  font-size: 1.2em;
  cursor: pointer;
}

.button-filter.filter-type {
  background-color: rgba(136,123,107,0.6);
  font-size: 1.3em;
  height: 11%;
  color: black;
}

#race-selection {
  margin: 0.5em 1em;
  display: none;
}

#age-range {
  display: none;
}

#age-range input, label {
  margin: 0.5em 1em;
}

#age-range input {
  width: 17%;
  margin-left: 0;
}

.race-selection-submit {
  position: absolute;
  top: 64%;
  right: 10%;
}

#age-range .age-range-submit {
  width: 80px;
  margin: 4% 10% 8%;
}

#display-and-selectors {
  position: relative;
  height: 31em;
  width: 70%;
  left: 15%;
}

#display-container {
  height: 89%;
  width: 100%;
  background: black;
}

.map {
  position: absolute;
  height: 89%; /* for main view */
/*  height: 73%; */ /* for state view */
  width: 100%;
  top: 0;
  background: black;
}

#selectors-container {
  height: 11%;
  position: absolute;
  width: 100%;
/*  z-index: 2;*/
}

#selectors-container .chooser {
  display: inline;
  font-size: 1.3em;
  height: 100%;
  width: 33%;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

#selectors-container .display-selector.display-type {
  background-color: rgba(136,123,107,0.8);
  font-size: 1.6em;
  color: black;
}

#weights-container {
	position: absolute;
  height: 98%;
  width: 15%;
  top: 10%;
  right: 0;
}

.button-header {
  display: none;
}

.button-weight {
  display: none;
}

.button-weight.weight-type {
  background-color: rgba(136,123,107,0.6);
  font-size: 1.3em;
  height: 11%;
  color: black;
}

#program {
	position: fixed;
  height: 17%;
  width: 70%;
  bottom: 0;
  left: 15%;
}

.program-text {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  color: #101535;
  opacity: 0.8;
  letter-spacing: 1.5px;
  margin: 1.5em 0;
}

.popup-container {
  background-color: #c8cdcf;
  border-radius: 15px;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

.popup-img {
  max-width: 500px;
  max-height: 300px;
}

.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding:17px;
    border-radius: 5px;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
