body {
  background-color: #c8cdcf;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

#container {
  position: relative;
  height: 43em;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#filters-container {
	position: relative;
  height: 35em;
  width: 15%;
  top: 8em;
}

#display-container {
	position: absolute;
  height: 65%; /* for main view */
/*  height: 73%; */ /* for state view */
  width: 69%;
  top: 0%;
  left: 15.5%;
  background: black;
}

#weights-container {
	position: absolute;
  height: 35em;
  width: 15%;
  top: 8em;
  right: 0;
}

#program {
	position: absolute;
  height: 27%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.program-text {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  color: #101535;
  opacity: 0.8;
  letter-spacing: 1.5px;
  padding: 0 5em;
}

.popup-container {
  background-color: #c8cdcf;
  border-radius: 15px;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

.popup-img {
  max-width: 500px;
  max-height: 300px;
}

.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    opacity:0.8;
    filter:alpha(opacity=80);
    padding:17px;
    border-radius: 5px;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}
